.c-row-holder {
  margin-left: -$grid-gutter-width-base/2;
  margin-right: -$grid-gutter-width-base/2;
}

.c-row {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.c-row--justified {
  justify-content: space-between;
  align-items: center;
}

.c-row--entry {
  padding: $spacer/2 $spacer/4;

  & + & {
    border-top: 1px dotted shade($gray-lighter,10);
  }
}

.c-row--divider {
  padding-top: $spacer/2;
  color: tint($gray-dark,20);
  padding-bottom: $spacer/2;

  > .col,
  > [class*="col-"] {
    padding-top: $spacer/4;
    width: calc(33.3333% - #{$spacer/2});
    margin-right: $spacer/2;
    padding-right: $spacer/2;
    border-right: 1px dotted shade($gray-lighter,10);

    &:last-child {
      border-right: 0;
    }
  }
}

.c-row--no-gutter {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: $grid-gutter-width-base;
  }
}

// Fancy scrollbars
@include scrollbars(.5em, $gray-light , rgba(0, 0, 0, 0));
